html{
    background-color: aliceblue;
    font-family: “Comic Sans MS”, “Comic Sans”, monospace;
    /* background-image: url('./Imagenes/papasfritas-crocantes-ñaaam.jpg'); */
    background-color: lavender;
    color: rgb(66, 66, 66);
    /* text-shadow: 2px 2px 20px black; */
    text-shadow: 2px 2px 20px white;
    font-size: 1.1rem;
}
body {
    display: flex;
    justify-content: center;
}
hr {
    margin: 10px 150px;
    height: 3px;
    background-color: white;
    border: none;

}
#container{
    text-align: center;
    width: fit-content;
}
h2{
    text-decoration: underline;
}
.menu{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 5px;
}
.menu table{
    border-collapse: collapse;
    margin-bottom: 10px;
}
.menu table th {
    font-weight: 1600;
}
.menu table th, td{
    padding: 10px;
    width: 160px;
}
.descripcion{
    width: 400px;
}
#ir-arriba {
    padding: 50px;
}
a{   
    text-decoration: none;
    font-size: larger;
    text-decoration: underline ;
    font-weight: 600;
}
a:visited {
    /* color: rgba(0, 255, 21, 0.603); */
    color:blueviolet;
}
a:hover{   
    color: blue;
}

.precio {
    text-align: right;
}
#titulo{
    padding: 5px;
    /* color: yellow; */
    color:cornflowerblue;
    text-decoration: underline ;
}
svg {
    fill: rgb(243, 157, 239);
    width: 90px;

}
.svg-principal{
    padding: 50px;
}

#notitauwu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin: 20px;
}